@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #F72585;
    --secondary-color: #7209B7;
    --accent1-color: #3A0CA3;
    --accent2-color: #4361EE;

    --heading-font: 'Lora', serif;
    --paragraph-font: 'Montserrat', serif;

    --nav-background-color: var(--primary-color);
    --nav-link-color: var(--secondary-color);
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--accent2-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 100%;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  section {
    margin-bottom: 20px;
  }

  .hero {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); 
  }

  .hero img {
    position: absolute;
  }
  
  .hero h1 {
    position: absolute;
  }

  .article img {
    position: absolute;
    float: right;
  }